{
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 1024,
  "bracketSameLine": true,
  "proseWrap": "never",
  "embeddedLanguageFormatting": "auto",
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "pluginSearchDirs": [
    "."
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
